.showcase {
  padding: 140px 20px 100px;
  text-align: center;
  color: white;
  position: relative;
}

body.dark .showcase {
  color: #ffffff;
}

body.light .showcase {
  color: #111111;
}

/* Title */
.showcase-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.showcase-title span {
  color: #10b981;
}

/* Image layout */
.showcase-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

/* Main center image */
.main-img {
  width: 480px;
  z-index: 2;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* Side images */
.side-img {
  width: 350px;
  position: absolute;
  border-radius: 20px;
  opacity: 0.85;
  transition: 0.3s ease;
}

.left {
  left: 20%;
  transform: rotate(-8deg);
}

.right {
  right: 20%;
  transform: rotate(8deg);
}

/* Description */
.showcase-desc {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.85;
}